    .player-header {
        box-sizing: border-box;
        position: relative;
        max-width: 728;
        padding: 20;
        background: #dd5a43;
    }
    
    .player-wrapper {
    position: relative;
    max-width: 728;
    padding-top: 60%
    }
    
    .react-player {
    position: absolute;
    max-width: 728;
    bottom: 20;
    left: 0;
    }

    .player-note-panel {
    height: 350;
    }

    .arrow-button {
        float: right;
        user-select: none;
    }