html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
#root {
  height: 100%;
}

.home-container {
  height: 94.3%;
  margin: 0;
  font-family: sans-serif;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.impressive-message {
  color: #fff;
  position: absolute;
  top: 35%;
  left: 15%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.impressive-message button {
  margin-top: 1rem;
  border-radius: 2rem;
  background-color: #7beced;
  border: none;
  color: #373737;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.impressive-message button:hover {
  background-color: #373737;
  color: #7beced;
}

.background-gradient {
  background: rgb(141, 145, 164);
  background: linear-gradient(
    0deg,
    rgba(141, 145, 164, 1) 0%,
    rgba(234, 152, 164, 1) 100%
  );
  background-size: auto;
}
